hostname {{ item.hostname }}
vlan 1
no ipv6 enable
no ipv6 address dhcp full
exit
{% if item.vlan_id is defined and item.vlan_id | length > 0 %}
{% set vlan_id = item.vlan_id.split('!') %}
{% if item.vlan_name is defined and item.vlan_name | length > 0 %}
{% set vlan_name = item.vlan_name.split('!') %}
{% if item.vlan_ip is defined and item.vlan_ip | length > 0 %}
{% set vlan_ip = item.vlan_ip.split('!') %}
{% if item.vlan_igmp is defined and item.vlan_igmp | length > 0 %}
{% set vlan_igmp = item.vlan_igmp.split('!') %}
{% if item.vlan_igmp is defined and item.vlan_igmp | length > 0 %}
{% set vlan_igmp = item.vlan_igmp.split('!') %}
{% if item.vlan_ip_helper is defined and item.vlan_ip_helper | length > 0 %}
{% set vlan_ip_helper = item.vlan_ip_helper.split('!') %}

{% for n in range(vlan_id|length) %}
vlan {{ vlan_id[n] }}
name {{ vlan_name[n] }}
{% if vlan_ip[n] == "L2" %}
no ip add
{% else %}
ip address {{ vlan_ip[n] }}
{% endif %}
{% if vlan_igmp[n] == "Yes" %}
ip igmp
{% else %}
{% endif %}
{% if vlan_ip_helper[n] == "N/A" %}
{% else %}
ip helper-address {{ vlan_ip_helper[n] }}
{% endif %}

{% endfor %}

{% else %}
{% endif %}
{% else %}
{% endif %}
{% else %}
{% endif %}
{% else %}
{% endif %}
{% else %}
{% endif %}
{% else %}
{% endif %}
{# if item.ospf_area is defined and item.ospf_area | length > 0 }
router ospf
area {{ item.ospf_area }}
{# endif #}
{# if item.ospf_zone is defined and item.ospf_zone | length > 0 }
area {{ item.ospf_zone }}
enable
{# endif #}
{# if item.ospf_router_id is defined and item.ospf_router_id | length > 0 }
router-id {{ item.ospf_router_id }}
{# endif #}
{# if ospf_redistribute_network is defined and item.ospf_redistribute_network | length > 0 }
redistribute {{ item.ospf_redistribute_network }}
{# endif #}
{% if item.spanning_tree_mode is defined and item.spanning_tree_mode == "Rapid" %}
spanning-tree
spanning-tree mode rapid-pvst
{% elif item.spanning_tree_mode is defined and item.spanning_tree_mode == "Mst" %}
spanning-tree
spanning-tree mode mst
{% elif item.spanning_tree_mode is defined and item.spanning_tree_mode == "Pvst" %}
spanning-tree
spanning-tree mode pvst
{% else %}
{% endif %}
{% if item.spanning_tree_vlan is defined and item.spanning_tree_vlan_priority is defined and item.spanning_tree_vlan | length > 0 and item.spanning_tree_vlan_priority | length > 0 %}
spanning-tree vlan {{ item.spanning_tree_vlan }} priority {{ item.spanning_tree_vlan_priority }}
{% else %}
{% endif %}
{% if item.spanning_tree_bpdu_filter is defined and item.spanning_tree_bpdu_filter | length > 0 %}
spanning-tree {{ item.spanning_tree_bpdu_filter }} bpdu-filter
{% else %}
{% endif %}
{% if item.spanning_tree_bpdu_protection_port is defined and item.spanning_tree_bpdu_protection_port | length > 0 %}
spanning-tree {{ item.spanning_tree_bpdu_protection_port }} bpdu-protection
{% else %}
{% endif %}
{% if item.spanning_tree_bpdu_protection_timeout is defined and item.spanning_tree_bpdu_protection_timeout | length > 0 %}
spanning-tree bpdu-protection-timeout {{ item.spanning_tree_bpdu_protection_timeout }}
{% else %}
{% endif %}

{% if item.spanning_tree_loop_protect_port is defined and item.spanning_tree_loop_protect_port | length > 0 %}
loop-protect {{ item.spanning_tree_loop_protect_port }}
{% else %}
{% endif %}

{% if item.spanning_tree_loop_protect_disable_timer is defined and item.spanning_tree_loop_protect_disable_timer | length > 0 %}
loop-protect disable-timer {{ item.spanning_tree_loop_protect_disable_timer }}
{% else %}
{% endif %}

{% if item.snmp_community_operator is defined and item.snmp_community_operator | length > 0  %}
snmp-server community {{ item.snmp_community_operator }} operator
{% endif %}

{% if item.snmp_community_unrestricted is defined and item.snmp_community_unrestricted | length > 0  %}
snmp-server community {{ item.snmp_community_unrestricted }} unrestricted
{% else %}
{% endif %}

{% if item.snmp_contact is defined and item.snmp_contact | length > 0 %}
snmp-server contact "{{ item.snmp_contact }}"
{% else %}
{% endif %}

{% if item.snmp_location is defined and item.snmp_location | length > 0 %}
snmp-server location "{{ item.snmp_location }}"
{% else %}
{% endif %}

{% if item.ntp_server is defined %}
timesync ntp
ntp unicast
ntp enable
{% set ntp_server = item.ntp_server.split(',') %}
{% for each_ntp_server in ntp_server %}
ntp server {{ each_ntp_server }}
{% endfor %}
{% else %}
{% endif %}

{% if item.ntp_source is defined %}
ntp source {{ item.ntp_source }}
{% endif %}

{% if item.timezone is defined and item.timezone | length > 0 %}
time daylight-time-rule continental-us-and-canada
time timezone {{ item.timezone }}
{% else %}
{% endif %}

{% if item.dns_server is defined and item.dns_server | length > 0 %}
{% set dns_server = item.dns_server.split(',') %}
{% for each_dns_server in dns_server %}
ip dns server-address priority {{ loop.index }} {{ each_dns_server }}
{% endfor %}
{% else %}
{% endif %}

{% if item.dns_suffix is defined and item.dns_suffix | length > 0 %}
ip dns domain-name {{ item.dns_suffix}}
{% else %}
{% endif %}

{% if item.ssh_key_bitsize is defined and item.ssh_key_bitsize | length > 0 %}
crypto key generate ssh rsa bits {{ item.ssh_key_bitsize}}
ip ssh
{% else %}
{% endif %}

{% if item.ip_ssh is defined and item.ip_ssh == 'yes' %}
ip ssh
{% elif item.ip_ssh is defined and item.ip_ssh == 'no' %}
no ip ssh
{% endif %}

{% if item.ip_telnet is defined and item.ip_telnet == 'no' %}
no telnet-server
{% elif item.ip_telnet is defined and item.ip_telnet == 'yes' %}
telnet-server
{% endif %}

{# if item.web_management_ssl is defined and item.web_management_ssl == 'yes' %}
crypto pki enroll-self-signed certificate-name SSL subject
Common Name
Org Unit
Org Name
Locality
State
US
web-management ssl
{% else %}
{% endif #}

{% if item.http_server is defined and item.http_server == 'no' %}
no web-management
{% else %}
{% endif %}

{% if item.mgmt_vlan is defined and item.mgmt_ip is defined and item.mgmt_vlan | length > 0 and item.mgmt_ip | length > 0 %}
vlan {{ item.mgmt_vlan }}
name Switch-Mgmt
ip address {{ item.mgmt_ip }}
{% else %}
{% endif %}

{% if item.oobm_mgmt_ip is defined and item.oobm_mgmt_ip | length > 0 %}
oobm
ip address {{ item.oobm_mgmt_ip }}
{% else %}
{% endif %}
